.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: white;
}

.cell {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
  border: solid 1px black;
  white-space: pre;
}

.cell_block{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
  border: solid 4px white;
  border-bottom-color: gray;
  border-right-color: gray;
  white-space: pre;
}

.stone_type1 {
  width: 30px;
  height: 30px;
  background: url("~/assets/images/icons.png");
}

.stone_type2 {
  background-position: -30px;
}
.stone_type3 {
  background-position: -60px;
}
.stone_type4 {
  background-position: -90px;
}
.stone_type5 {
  background-position: -120px;
}
.stone_type6 {
  background-position: -150px;
}
.stone_type7 {
  background-position: -180px;
}
.stone_type8 {
  background-position: -210px;
}
.stone_type9 {
  background-position: -240px;
}
.stone_type10 {
  background-position: -270px;
}
.stone_type11 {
  background-position: -300px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: rgb(214, 212, 212);
}